#chatbox {
    position: relative;
    width: 200px;
    height: 480px;
    transition: var(--default-transition);
  }
  
  #island {
    width: auto;
    height: auto;
    border-radius: 15px;
    margin: 10px;
  }
  
  .island {
    height: calc(100% - 40px); /* adjust this value as needed */
    overflow-y: auto; /* enable vertical scrolling if needed */
    animation: none;
    text-align: center;
  }