#chatbox {
    position: relative;
    width: 200px;
    height: 480px;
    box-shadow: var(--active-box-shadow-light);
  }
  
  #island {
    width: auto;
    height: auto;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 
                6px 6px 12px #B0B0B0, 
                -6px -6px 12px #FFFFFF;
  }
  
  .island {
    height: calc(100% - 40px); /* adjust this value as needed */
    overflow-y: auto; /* enable vertical scrolling if needed */
    animation: none;
    text-align: center;
  }