header {
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
    font-family: legible-font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

.globalButton {
    width: 180px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: legible-font;
}

.localButton {
    width: 180px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: legible-font;
}

button {
  border-radius: 25px;
  border: none;
  padding: var(--default-padding);
  margin: var(--default-margin);
  font-size: 1.5em;
}