:root {
  --active-box-shadow:inset 6px 6px 12px #B0B0B0,inset -6px -6px 12px #FFF;
  --active-transform:translateY(0px);
  --default-background:#E7E7E7;
  --default-box-shadow:12px 12px 25px #B0B0B0,-12px -12px 25px #FFF;
  --default-color:#303030;
  --default-margin:10px;
  --default-padding:15px 25px;
  --default-text-shadow:2px 2px 5px #B0B0B0;
  --default-transition:all .4s ease-in-out;
  --hover-box-shadow:inset 0 0 0 #B0B0B0,inset 0 0 0 #FFFFFF,12px 12px 25px #B0B0B0,-12px -12px 25px #FFF;
  --hover-transform:translateY(-5px)
  }

/* font */
@font-face {
  font-family: legible-font;
  src: url('fonts/AtkinsonHyperlegible-Bold.ttf');
}

/* slide animation */
@keyframes slide-in {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}

/* top menu bar */
.menu-bar {
  background-color:var(--default-background);
  box-shadow:var(--default-box-shadow);
  display:flex;
  height:60px;
  padding:var(--default-padding);
  position:fixed;
  right:0;
  top:0;
  transition:var(--default-transition);
  width:100%
  }


body, header, button, .container a {
  background-color: var(--default-background);
  transition: var(--default-transition);
}

body {
  font-family: legible-font;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

header {
  padding: 30px;
  border-radius: 25px;
  box-shadow: var(--default-box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
h1, h2, p, button, .container a {
  color: var(--default-color);
  text-shadow: var(--default-text-shadow);
}

h1, h2 {
  margin: 0;
  font-size: 2em;
  transition: var(--default-transition);
}

h1 {
  animation: slide-in 0.5s ease infinite alternate;
}
  
h2 {
  font-size: 3em;
  z-index: 1;
}
  
button, .container a {
  border-radius: 25px;
  border: none;
  box-shadow: var(--default-box-shadow);
  padding: var(--default-padding);
  margin: var(--default-margin);
  font-size: 2em;
}
  
button:hover {
  transform: var(--hover-transform);
  box-shadow: var(--hover-box-shadow);
  transition: var(--default-transition), transform .3s ease-in-out, box-shadow .2s ease-in-out;
}

button:active {
  transform: var(--active-transform);
  box-shadow: var(--active-box-shadow);
  transition: var(--default-transition), transform .3s ease-in-out, box-shadow .05s ease-in-out;
}

  
  /* CONTAINER */

  .container {
  width: 200px;
  height: 200px;
  background-color: #E7E7E7;
  border-radius: 25px;
  overflow: auto;
  padding: 10px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 10px 10px 20px #B0B0B0, -10px -10px 20px #FFFFFF;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  transition: var(--default-transition);

}

.container::-webkit-scrollbar {
  display: none;
}

.container a {
  display: block;
  text-decoration: none;
  color: #303030;
  font-size: 1.2em;
  -webkit-tap-highlight-color: transparent;

  background-color: #E7E7E7;
  border-radius: 15px;
  border: none;
  box-shadow: inset 0px 0px 0px #B0B0B0, inset 0px 0px 0px #FFFFFF, 5px 5px 15px #B0B0B0, -5px -5px 15px #FFFFFF;
  padding: 15px 25px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #303030;
  text-shadow: 2px 2px 5px #B0B0B0;
  transition: var(--default-transition);
}

.container a:hover {
  transform: translateY(-3px); /* add a hover animation */
  box-shadow: inset 0px 0px 0px #B0B0B0, inset 0px 0px 0px #FFFFFF, 12px 12px 25px #B0B0B0, -12px -12px 25px #FFFFFF;
  transition: var(--default-transition);

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* add another transition */
}

.container a:active {
  transform: translateY(0px); /* add an active animation */
  box-shadow: inset 6px 6px 12px #B0B0B0, inset -6px -6px 12px #FFFFFF;
  transition: var(--default-transition);

  transition: transform 0.2s ease-in-out, box-shadow 0.05s ease-in-out; /* add another transition */
}

/* -=-=-=-=- OVERLAY CSS -=-=-=-=- */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: var(--default-transition);

  transition: opacity 0.4s ease-in-out;
}

.popup {
  width: 400px;
  height: 400px;
  background-color: #E7E7E7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: var(--default-transition);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  transition: var(--default-transition);
}

.popup-header h2 {
  margin: 0;
}

.close-btn {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.popup-content {
  padding: 20px;
  flex-grow: 1;
}

.popup-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.popup-image {
  max-width: 100%;
  max-height: 50px;
  object-fit: contain;
}

/* SWITCH */

.switch-container {
  display: inline-block;
  position: absolute;
  width: 72px;
  height: 36px;
  top: 20px;
  right: 20px;
}

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #E7E7E7;
  box-shadow: inset 6px 6px 12px #B0B0B0, 
              inset -6px -6px 12px #FFFFFF,
              6px 6px 12px #B0B0B0, 
              -6px -6px 12px #FFFFFF;
              
  transition: var(--default-transition);
}

.switch:before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #303030;
  box-shadow: inset -6px -6px 12px #131415, 
              inset 6px 6px 12px #393b41,
              2px 2px 5px #B0B0B0;
  transition: var(--default-transition);
}

.switch-container input:checked + .switch:before {
  transform: translateX(36px);
}

/* CHATBOX */

#chatbox {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 200px;
  height: 480px;
  box-shadow: inset 6px 6px 12px #B0B0B0, 
              inset -6px -6px 12px #FFFFFF;
}

#island {
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 
              6px 6px 12px #B0B0B0, 
              -6px -6px 12px #FFFFFF;
}

.island {
  height: calc(100% - 40px); /* adjust this value as needed */
  overflow-y: auto; /* enable vertical scrolling if needed */
  animation: none;
  text-align: center;
}