@import "theme_mode_switch.css";

:root {
  --active-box-shadow:inset 6px 6px 12px #B0B0B0,inset -6px -6px 12px #FFF;
  --active-transform:translateY(0px);
  --default-background:#E7E7E7;
  --default-box-shadow:12px 12px 25px #B0B0B0,-12px -12px 25px #FFF;
  --default-color:#303030;
  --default-margin:10px;
  --default-padding:15px 25px;
  --default-text-shadow:2px 2px 5px #B0B0B0;
  --default-transition:all .4s ease-in-out;
  --hover-box-shadow:inset 0 0 0 #B0B0B0,inset 0 0 0 #FFFFFF,12px 12px 25px #B0B0B0,-12px -12px 25px #FFF;
  --hover-transform:translateY(-5px)
  }



@font-face {
  font-family: legible-font;
  src: url('fonts/AtkinsonHyperlegible-Bold.ttf');
}
  
@keyframes slide-in {
from {
transform: translateY(-2px);
}
to {
transform: translateY(2px);
}
}
  

.menu-bar {
  background-color: #313236;
  box-shadow:var(--default-box-shadow);
  display:flex;
  height:60px;
  padding:var(--default-padding);
  position:fixed;
  right:0;
  top:0;
  transition:var(--default-transition);
  width:100%
  }

  body {
  font-family: legible-font;
  background-color: #313236;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: all 0.4s ease-in-out;
  }
  
header {
  background-color: #313236;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 12px 12px 25px #202022, -12px -12px 25px #38393b;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
  
h1,
h2 {
  margin: 0;
  font-size: 2em;
  color: #e0e0e0;
  text-shadow: 2px 2px 5px #202022;
  transition: all 0.4s ease-in-out;
}
  
p {
  color: #e0e0e0;
  transition: all 0.4s ease-in-out;
}
  
h1 {
  animation: slide-in 0.5s ease infinite alternate;
}
  
h2 {
  font-size: 3em;
  z-index: 1;
}
  
button {
  background-color: #313236;
  border-radius: 25px;
  border: none;
  box-shadow: inset 0px 0px 0px #202022, inset 0px 0px 0px #38393b, 5px 5px 15px #202022, -5px -5px 15px #38393b;
  padding: 15px 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2em;
  color: #e0e0e0;
  text-shadow: 2px 2px 5px #202022;
  transition: all 0.4s ease-in-out;
}
  
button:hover {
  transform: translateY(-5px);
  box-shadow: inset 0px 0px 0px #202022, inset 0px 0px 0px #38393b, 12px 12px 25px #202022, -12px -12px 25px #38393b;
  transition: all 0.4s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
  
button:active {
  transform: translateY(0px);
  box-shadow: inset 6px 6px 12px #202022, inset -6px -6px 12px #38393b;
  transition: all 0.4s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.05s ease-in-out;
}
  
/* CONTAINER */

.container {
  width: 200px;
  height: 200px;
  background-color: #313236;
  border-radius: 25px;
  overflow: auto;
  padding: 10px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 10px 10px 20px #202022, -10px -10px 20px #38393b;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  transition: all 0.4s ease-in-out;
}

.container::-webkit-scrollbar {
  display: none;
}

.container a {
  display: block;
  text-decoration: none;
  color: #303030;
  font-size: 1.2em;
  -webkit-tap-highlight-color: transparent;

  background-color: #313236;
  border-radius: 15px;
  border: none;
  box-shadow: inset 0px 0px 0px #202022, inset 0px 0px 0px #38393b, 5px 5px 15px #202022, -5px -5px 15px #38393b;
  padding: 15px 25px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #e0e0e0;
  text-shadow: 2px 2px 5px #202022;
  transition: all 0.4s ease-in-out;
}

.container a:hover {
  transform: translateY(-3px); /* add a hover animation */
  box-shadow: inset 0px 0px 0px #202022, inset 0px 0px 0px #38393b, 12px 12px 25px #202022, -12px -12px 25px #38393b;
  transition: all 0.4s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* add another transition */
}

.container a:active {
  transform: translateY(0px); /* add an active animation */
  box-shadow: inset 6px 6px 12px #202022, inset -6px -6px 12px #38393b;
  transition: all 0.4s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.05s ease-in-out; /* add another transition */
}

/* -=-=-=-=- OVERLAY CSS -=-=-=-=- */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.popup {
  width: 400px;
  height: 400px;
  background-color: #313236;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  transition: all 0.4s ease-in-out;
}

.popup-header h2 {
  margin: 0;
}

.close-btn {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.popup-content {
  padding: 20px;
  flex-grow: 1;
}

.popup-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.popup-image {
  max-width: 100%;
  max-height: 50px;
  object-fit: contain;
}

/* SWITCH */

.switch-container {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 24px;
}

.switch {
  background-color: #ddd;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.3),
              inset -2px -2px 5px rgba(0, 0, 0, 0.3),
              2px 2px 5px rgba(255, 255, 255, 0.3),
              -2px -2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.switch:before {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3),
              -2px -2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.switch {
  background-color: #313236;
  box-shadow: inset 6px 6px 12px #202022, 
              inset -6px -6px 12px #38393b,
              6px 6px 12px #202022, 
              -6px -6px 12px #38393b;
  transition: all 0.4s ease-in-out;
}

.switch:before {
  background-color: #e0e0e0;
  box-shadow: inset -6px -6px 12px #B0B0B0, 
              inset 6px 6px 12px #FFFFFF,
              -2px -2px 5px #202022;
  transition: all 0.4s ease-in-out;
}

/* CHATBOX */

#chatbox {
  width: 200px;
  height: 480px;
  box-shadow: inset 6px 6px 12px #202022, 
              inset -6px -6px 12px #38393b;
}

#island {
  width: auto;
  height: auto;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 
              6px 6px 12px #202022, 
              -6px -6px 12px #38393b;
}

.island {
  height: calc(100% - 40px); /* adjust this value as needed */
  overflow-y: auto; /* enable vertical scrolling if needed */
  animation: none;
  text-align: center;
}