@import "vars.css";
@import "top_menu.css";
@import "popup.css";

/* font */
@font-face {
  font-family: legible-font;
  src: url('fonts/AtkinsonHyperlegible-Bold.ttf');
}

/* bobbing animation */
@keyframes slide-in {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}

/* top menu bar */
.menu-bar {
  background-color:var(--background-light);
  box-shadow:var(--box-shadow-light);
}

body, header, button, .container a {
  background-color: var(--background-light);
  transition: var(--default-transition);
}

body {
  font-family: legible-font;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

header {
  padding: 30px;
  border-radius: 25px;
  box-shadow: var(--box-shadow-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
h1, h2, p, button, .container a {
  color: var(--color-light);
  text-shadow: var(--text-shadow-light);
}

h1, h2 {
  margin: 0;
  font-size: 2em;
  transition: var(--default-transition);
}

h1 {
  animation: slide-in 0.5s ease infinite alternate;
}
  
h2 {
  font-size: 3em;
  z-index: 1;
}
  
button, .container a {
  border-radius: 25px;
  border: none;
  box-shadow: var(--box-shadow-light);
  padding: var(--default-padding);
  margin: var(--default-margin);
  font-size: 2em;
}
  
button:hover {
  transform: var(--hover-transform);
  box-shadow: var(--hover-box-shadow-light);
  transition: var(--default-transition), transform .3s ease-in-out, box-shadow .2s ease-in-out;
}

button:active {
  transform: var(--active-transform);
  box-shadow: var(--active-box-shadow-light);
  transition: var(--default-transition), transform .3s ease-in-out, box-shadow .05s ease-in-out;
}

  /* CONTAINER */
  .container {
  width: 200px;
  height: 200px;
  background-color:var(--background-light);
  border-radius: 25px;
  overflow: auto;
  padding: 10px;
  margin: 40px;
  box-shadow: var(--box-shadow-light);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  transition: var(--default-transition);

}

.container::-webkit-scrollbar {
  display: none;
}

.container a {
  display: block;
  text-decoration: none;
  color: var(--color-light);
  font-size: 1.2em;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-light);
  border-radius: 15px;
  border: none;
  box-shadow: var(--hover-box-shadow-light), 5px 5px 15px #B0B0B0, -5px -5px 15px #FFFFFF;
  padding: var(--default-padding);
  margin: 10px;
  margin-top: 30px;
  font-size: 1.2em;
  color: var(--color-light);
  text-shadow: var(--text-shadow-light);
  transition: var(--default-transition);
}

.container a:hover {
  transform: translateY(-3px); /* add a hover animation */
  box-shadow: 12px 12px 25px #B0B0B0, -12px -12px 25px #FFFFFF;
  transition: var(--default-transition), transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.container a:active {
  transform: translateY(0px); /* add an active animation */
  box-shadow: inset 6px 6px 12px #B0B0B0, inset -6px -6px 12px #FFFFFF;
  transition: var(--default-transition), transform 0.2s ease-in-out, box-shadow 0.05s ease-in-out;
}

/* CHATBOX */
#chatbox {
  position: relative;
  width: 200px;
  height: 480px;
  box-shadow: var(--active-box-shadow-light);
}

#island {
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 
              6px 6px 12px #B0B0B0, 
              -6px -6px 12px #FFFFFF;
}

.island {
  height: calc(100% - 40px); /* adjust this value as needed */
  overflow-y: auto; /* enable vertical scrolling if needed */
  animation: none;
  text-align: center;
}