@import "theme_mode_switch.css";

.menu-bar {
    height:6vh;
    padding: 10px;
    position:fixed;
    right:0;
    top:0;
    transition:var(--default-transition);
    width:100%;
    display: flex;
    justify-content: right;
    align-items: stretch;
    gap: 20px;
  }
  
  .login-container {
    display: flex;
    align-items: center;
  }
  
  .login-button {
    padding: 0px 25px;
    margin: 0;
    font-size: 2em;
    font-family: legible-font;
  }