.globalButton {
    width: 180px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 30px;
    font-size: 1.2em;
    font-family: legible-font;
}

.localButton {
    width: 180px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 30px;
    font-size: 1.2em;
    font-family: legible-font;
}