:root {
  --active-box-shadow-light:inset 6px 6px 12px #B0B0B0,inset -6px -6px 12px #FFF;
  --active-box-shadow-dark:inset 6px 6px 12px #202022,inset -6px -6px 12px #38393b;
  --active-transform:translateY(0px);
  --background-light:#E7E7E7;
  --background-dark:#313236;
  --box-shadow-light:12px 12px 25px #B0B0B0,-12px -12px 25px #FFF;
  --box-shadow-dark:12px 12px 25px #202022,-12px -12px 25px #38393b;
  --color-light:#303030;
  --color-dark:#e0e0e0;
  --default-margin:10px;
  --default-padding:15px 25px;
  --text-shadow-light:2px 2px 5px #B0B0B0;
  --text-shadow-dark:2px 2px 5px #202022;
  --default-transition:all .2s ease-in-out, box-shadow .4s ease-in-out;
  --hover-box-shadow-light:inset 0 0 0 #B0B0B0,inset 0 0 0 #FFFFFF,12px 12px 25px #B0B0B0,-12px -12px 25px #FFF;
  --hover-box-shadow-dark:inset 0px 0px 0px #202022, inset 0px 0px 0px #38393b, 12px 12px 25px #202022, -12px -12px 25px #38393b;
  --hover-transform:translateY(-5px)
}
