@import "elements/vars.css";

#loginSignupForm {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    background-color: #E7E7E7;
    padding: 10px;
    border-radius: 20px;
    border: 0px solid #ccc;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--active-box-shadow-light);
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #E7E7E7;
    box-shadow: var(--button-shadow-light);
  }

  button[type="submit"] {
    margin-top: 25px;
  }
  